 %ul
  %li= link_to "menu 1", root_path
  %li= link_to "menu 1", root_path
  %li= link_to "menu 1", root_path
  %li= link_to "menu 1", root_path
  %li= link_to "menu 1", root_path
  %li= link_to "menu 1", root_path